/* Shekveta */
*{
    margin: 0;
    padding: 0;
}

.maindiv1{
    position: absolute;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,0.4);
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

@keyframes shekvetaanim{
    from{transform:scaleY(0)}
    to{transform: scaleY(1);}
}
.misamarrti{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 160px;
    align-items: center;
    transition: scale(1);
    transition-duration: 0.7s;
}

.misamartebi{
    padding: 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(24, 5, 92, 0.274);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 380px;
    box-shadow: rgba(18, 7, 110, 0.411) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.misamartebi hr{
    width: 300px;
    
}


.contfull{
    transition-duration: 0.3s;
    
}
.shekvetadiv{
    display: flex;
    position: absolute;
    margin: center;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 750px;
    height: fit-content;
    animation-name: slideIn;
    animation-duration: 0.3s;
    padding-top: 15px;
    padding-left: 15px;
    bottom: 0;
    transition-duration: 1s;
}

button{
    color: black;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.3s;
    border: none;
    background: none;

}

.close{
    cursor: pointer;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bolder;
    position: absolute;
    margin-left: 0%;
    margin-top: -14px;
}

@keyframes slideIn{
    from{bottom: -900px;  opacity: 1;}
    to{bottom: 0px; opacity: 1;}
}
.whole{
    width: 1200px;
    overflow:inherit;
    display:flex;
    flex-direction: column;
    row-gap: auto;
    align-items: center;
    margin: auto;
}

@keyframes fadeIn{
    from{opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes marginanim{
    from{margin-top: 300px;}
    to{margin-top: 10px;
    }
}
@keyframes dissapear{
    from{display:"block"}
    to{display: "none"}
}

.maindiv1 input[type=text], select{
    min-width: 740px;
    max-width: fit-content;
    max-height: fit-content;
    padding: 12px 20px;
    font-size:18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.maindiv1  input[type=number]{
    width: 740px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.maindiv1 input[type=submit]{
    width: 740px;
    background-color: grey;
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;

}
.maindiv1  input[type=submit]:hover{
    background-color: rgb(172, 230, 114);
    transition-duration: 0.3s;
}
.txtpro{
    position: absolute;
    overflow: hidden;
}
.prdctdv{
    columns: 2
    ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.allpro{
    columns: 1;
    display: flex;
}
.allproduct{
    width: 700px;
}
.fasii{
    font-size: large;
    font-weight: 900;
    transition-duration: 1s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* product */
.productimg{
    width: 400px;
    height: 300px;
    transition-duration: 1s;
    overflow: hidden;
}
.productform:hover .productimg1 {
    filter: blur(5px);
    transform: scale(1.2);
}
.productform:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    transform: scale(0.95);
    transition-duration: 200ms;
}
.productimg1{
    transition-duration: 700ms;
}
.producttext{
    display: block;
    visibility: hidden;
    transition-duration: 1s;
    transform: scaleY(0);
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.644);
    width: 250px;
    height: 150px;
    transition-duration: 300ms;
    transform-origin: top center;    

}

.producttextg:hover + .productimg1{
    filter: blur(5px);
    transform: scale(1.2);
}


.productform:hover  .producttext  {
    z-index: 1;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.644);
    width: 250px;
    height: 150px;
    position: absolute;
    text-align: center;
    display: flex;
    transition-duration: 300ms;
    flex-direction: column;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    /* animation-name: heightanim;
    animation-duration: 400ms; */
    transform: scaleY(1);
    transform-origin: top center;
}
.butshekv{
    position: absolute;
    padding-top: 190px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: heightanimcart;
    animation-duration: 200ms;
    animation-direction: normal;
    margin: auto;
}
.cartdiv{
    width: 150px;
    background-color: #79de4f;
    height: 40px;
    margin-left: 10px;
    border-radius: 40px;
    transition-duration: 400ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    opacity: 70%;
    transition-duration: 300ms;
}
.cartdiv:hover{
    background-color:#69ff29;
    transition-duration: 400ms;
    opacity: 100%;
}

.cartimg{
    padding-bottom: 5px;
    width: 50px;
    transition-duration: 300ms;
}
.btnshekvetapro{
    height: 40px;
    width: 150px;
    justify-content: center;
    background-color: #79de4f;
    border-radius: 40px;
    transition-duration: 400ms;
    border: none;
    opacity: 70%;
}
.btnshekvetapro:hover{
    background-color:#69ff29;
    transition-duration: 400ms;
    opacity: 100%;
}
@keyframes heightanimcart{
    0% {padding-top: 0px;}
    100%{padding-top: 190px;}

}
.section1{
    display: flex;
    justify-content: space-around;    
    align-items: center; 
    margin-top: 200px;
}


.productform{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    width: 400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition-duration: 300ms;
    animation-play-state: running;
}
.allproduct{
    display: flex;
    justify-content: space-around;
    top: 90px;
    flex-wrap: wrap;
    width: 1300px;
    
}
.triangle{
        width: 0;
        height: 0;
        border-left: 0px solid transparent, 2px solid transparent;
        border-right: 20px solid transparent;
        border-radius: 15px  solid rgb(33 78 40);
        border-bottom: 25px solid rgb(33 78 40);
        border-top:  5px solid transparent ;
        display: none;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}
.aboutus{
    width: 300px;
    height: 270px;
    text-align: justify;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}
.footerleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    width: 300px;
}
.sociallogo{
    padding-top: 30px;
}
.filter{
    filter: blur(5px);
    z-index: -1;
}
.footerright{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    width: 300px;
    text-align: left;
}
.footercontainer{
    background-color: rgba(6, 82, 19, 0.336);
}
.companyname{
    width: fit-content;
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
}
/* map */

.ruka{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation-name: heightAnim;
    animation-duration: 1 s;
}


/* ///comment/// */

.contactpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    /* margin-top: 110px !important; */
    padding-top: 150px;
    padding-bottom: 150px;
    /* background-image: url(./images/bg-img.jpg); */
    background-position: center;
    background-repeat:space;
    background-attachment:fixed;
    background-blend-mode: hard-light;
    /* background-color: rgba(153, 205, 50, 0.233); */
}

.contactdiv{
    display: block;
    flex-direction: column;
    justify-content: space-around;
    height: 430px;
    width: 400px;
    object-fit: contain;
    place-items: auto;
    background-color: #014d1fa6;
    padding: 30px;
    border-radius: 8px;
    color: cornsilk;
    backdrop-filter: blur(3px) ;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 60px 40px inset;
}

@keyframes logorotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.bluredlogo{
    filter: blur(30px);
    animation-name: logorotate;
    animation-duration: 150s;
    animation-play-state: running;
    animation-direction:reverse;
    margin-left: 0px;
    margin-top:400px ;
    position: fixed;
    z-index: -100;
}
.bluredlogo1{
    filter: blur(40px);
    margin-left: 300px;
    animation-name: logorotate;
    animation-duration: 30s;
    animation-direction: reverse;
    animation-play-state:running ;
    animation-iteration-count: infinite;
    margin-bottom: 600px;
    position: fixed;
    z-index: -101;
    float: left;
}
.bluredlogo2{
    filter: blur(45px);
    margin-left: 800px;
    animation-name: logorotate;
    animation-duration: 30s;
    animation-direction: alternate;
    animation-play-state: running;
    margin-bottom: 200px;
    position: fixed;
    z-index: -101;
    float: left;
}


.commentform{
    display: block;
    flex-direction: column;
    justify-content: space-around;
    height: 430px;
    width: 400px;
    object-fit: contain;
    place-items: auto;
    margin-left: 100px;
    background-color: #014d1fa6;
    padding: 30px;
    border-radius: 8px;
    color: cornsilk;
    backdrop-filter: blur(10px) ;

}
.commentform input{
        width: 400px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid rgba(221, 221, 221, 0.356);
        border-radius: 4px;
        box-sizing: border-box;
        transition-duration: 300ms;
}

.commentform input::selection{
    border: 3px solid rgba(9, 136, 51, 0.473);
    transition-duration: 30ms;
    border-color: aqua;
    border-right: blue;

}
textarea{
    min-width: 400px;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgba(10, 82, 0, 0.288);
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 180px;
    max-height: 210px;
}



/* loading */

#loading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left:0;
    text-align: center;
    opacity: 0.6;
    background-color: #fff;
    z-index: 99;
    transition-duration: 300ms;
}
#loading-image{
    position: absolute;
    width: 100px;
    opacity: 1;
    height: 100px;
    z-index: 100;

}